<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Type Test</title>
</head>

<body>
  <form [formGroup]="form" novalidate>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Type Test</h1>
        <h4 *ngIf="!end && tick" class="display-3">Start: {{ tick | number: '2.0-0' }} s</h4>
        <h4 *ngIf="!end && !tick" class="display-3">Start: 00 s</h4>
        <p class="lead">{{ text }}</p>
        <textarea *ngIf="end===false" (keyup)="onKey($event)" class="form-control" formControlName="text" rows="4" cols="50" id="inputEmail"
          class="form-control" placeholder="Start Test" required autofocus></textarea>
          <h3 class="display-3" style="color:red" *ngIf="error">Try again</h3>
          <h3 class="display-3" style="color:green" *ngIf="end">Test finished. WPM: {{wpm | number: '1.0-0'}} words/min. Accuracy: {{ accuracy | number: '1.0-0'}}%</h3>
      </div>
      <div class="container">
        <button (click)="changeText()" class="btn btn-lg btn-primary btn-block" type="reset">Try another text</button>
      </div>
    </div>
  </form>
</body>

</html>